{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tic Tac Toe</title>
    <meta name="author" content="Grupo#2">
    <link rel="shortcut icon" href="{% static 'img/Fondo.jpg' %}" >
    <meta name="keywords" content="html,Tic Tac Toe">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<script src="../js/password.js"></script>

<body>
    <div>
        <div id="form-container">
            <div class="blue-container">
                <!-- Primer botón -->
                <div class="button-wrapper">
                    <div class="content-wrapper">
                        <img src="{% static 'img/personas.png' %}" alt="Organizar">
                        <div class="text-button-wrapper">
                            <label for="organizar-privada">Organizar Privada</label>
                            <hr>
                            <a href="">
                                <a href="{% url 'partidas:crear_partida' %}">
                                    <button class="orange-button" id="organizar-privada"><span>Crear Partida</span></button>
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Segundo botón -->
                <div class="button-wrapper">
                    <div class="content-wrapper">

                        <img src="{% static 'img/mundial.png' %}" alt="publica">
                        <div class="text-button-wrapper">
                            <label for="crear-partida">Pública</label>
                            <hr>
                            <center>
                                <button class="orange-button" id="buscar-partida"><span>Buscar Partida</span></button>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- Tercer botón -->
                <div class="button-wrapper">
                    <div class="content-wrapper">
                        <img src="{% static 'img/promocion.png' %}" alt="Descripción de la imagen 1">
                        <div class="text-button-wrapper">
                            <label for="buscar-partida">Privada</label>
                            <hr>
                            <center>
                                <button class="orange-button" id="codigo"
                                    onclick="openCodigoModal()"><span>Código</span></button>
                            </center>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modifica tu actual sección de botones -->
        <div class="row" id="button-salir-container">
            <a href="{% url 'autenticacion:logout' %}">
                <button class="salir-button">
                    <img src="{% static 'img/salir.png' %}" alt="Salir" width="35" height="35">
                </button>
            </a>
        </div>
        <div class="row" id="container-info" style="margin-top: 18%">

            <a href="{% url 'stats:stats' %}">
                <button class="green-button">
                    <img src="{% static 'img/estadisticas.png' %}" alt="Info" width="35" height="35">
                </button>
            </a>
        </div>
        </div>

        
        
  
</body>
<div id="codigoModal" class="modal">
    <div class="modal-content">
        <form action="{% url 'partidas:entrar_partida' %}" method="POST">
            {% csrf_token %}
            <span class="close">&times;</span>
            <label for="codigoInput" style="font-size: 25px;">Código</label>
            <label for="codigoInput" style="font-size: 14px;">Ingrese el codigo de sala: </label>
            <input type="text" id="codigoInput" name="codigo_partida">
            <div class="boton-con">
                <button id="ingresarBtn" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>
<script>

    // Get the modal element
    var codigoModal = document.getElementById("codigoModal");

    // Get the <span> element that closes the modal
    var closeSpan = document.getElementsByClassName("close")[0];

    // Function to open the modal
    function openCodigoModal() {
        codigoModal.style.display = "block";
    }

    // Function to close the modal
    function closeCodigoModal() {
        codigoModal.style.display = "none";
    }

    // Close the modal when the user clicks on the close button (x)
    closeSpan.onclick = function () {
        closeCodigoModal();
    }

    // Close the modal when the user clicks outside of it
    window.onclick = function (event) {
        if (event.target == codigoModal) {
            closeCodigoModal();
        }
    }

</script>


</html>